package components

import "strconv"
import "github.com/MatthewJM96/susnames/grid"

templ selectedCard(card *grid.Card) {
	switch card.Type {
	case grid.CIVILIAN:
		<div id={ "card-" + card.Word } class="card selected card-civilian">{ card.Word }</div>
	case grid.SPY_TARGET:
		<div id={ "card-" + card.Word } class="card selected card-spy-target">{ card.Word }</div>
	case grid.COUNTERSPY_TARGET:
		<div id={ "card-" + card.Word } class="card selected card-counterspy-target">{ card.Word }</div>
	default:
		<div id={ "card-" + card.Word } class="card selected">{ card.Word }</div>
	}
}

templ SpymasterCard(card *grid.Card) {
	if card.Selected {
		@selectedCard(card)
	} else {
		switch card.Type {
		case grid.CIVILIAN:
			<div id={ "card-" + card.Word } class="card card-civilian">{ card.Word }</div>
		case grid.SPY_TARGET:
			<div id={ "card-" + card.Word } class="card card-spy-target">{ card.Word }</div>
		case grid.COUNTERSPY_TARGET:
			<div id={ "card-" + card.Word } class="card card-counterspy-target">{ card.Word }</div>
		default:
			<div id={ "card-" + card.Word } class="card">{ card.Word }</div>
		}
	}
}

templ spyCardVoteButton(card *grid.Card, index int, sessionID string, canVote bool) {
	if _, exists := card.Votes[sessionID]; exists {
		<button id={ "card-unvote-" + card.Word } class="card-unvote" ws-send hx-vals={ "{\"cmd\": \"unvote-card\", \"data0\": \"" + strconv.Itoa(index) + "\"}" }>✘</button>
	} else if !canVote {
		<button id={ "card-vote-" + card.Word } class="card-vote disabled">✔</button>
	} else {
		<button id={ "card-vote-" + card.Word } class="card-vote" ws-send hx-vals={ "{\"cmd\": \"vote-card\", \"data0\": \"" + strconv.Itoa(index) + "\"}" }>✔</button>
	}
}

templ SpyCard(card *grid.Card, index int, isCounterspy bool, voting bool, sessionID string, canVote bool) {
	if card.Selected {
		@selectedCard(card)
	} else {
		if isCounterspy && card.Type == grid.COUNTERSPY_TARGET {
			<div id={ "card-" + card.Word } class="card card-counterspy-target">
				{ card.Word }
				if voting {
					@spyCardVoteButton(card, index, sessionID, canVote)
				}
			</div>
		} else {
			<div id={ "card-" + card.Word } class="card">
				{ card.Word }
				if voting {
					@spyCardVoteButton(card, index, sessionID, canVote)
				}
			</div>
		}
	}
}

templ SpymasterGrid(grid *grid.Grid) {
	<div id="grid">
		for i := range 5 {
			<div class="card-row">
				for j := range 5 {
					@SpymasterCard(grid.Cards[i * 5 + j])
				}
			</div>
		}
	</div>
}

templ SpyGrid(grid *grid.Grid, isCounterspy bool, voting bool, sessionID string, canVote bool) {
	<div id="grid">
		for i := range 5 {
			<div class="card-row">
				for j := range 5 {
					@SpyCard(grid.Cards[i * 5 + j], i * 5 + j, isCounterspy, voting, sessionID, canVote)
				}
			</div>
		}
	</div>
}
