package components

templ Greeting(name string) {
	<div id="greeter">Hello, { name }</div>
}

templ HelloPage(name string) {
	@Greeting(name)
	<br>
	<div>Not you? Well... who are you?</div>
	<form id="nameForm" action="/" method="POST" hx-post="/" hx-target="#greeter" hx-swap="outerHTML">
		<input type="text" name="name" placeholder="name">
	</form>
}
