package components

templ Page(components ...templ.Component) {
    <!doctype html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx-ext-ws@2.0.1/ws.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script>
            /**
             * Add feature to htmx that allows specifying ":<KEY>" syntax in target URI
             * of a request, and then inject the correspondying value of "<KEY>" in the
             * parameters to be sent along with the request. Such key-value pair is then
             * removed from the list of parameters to be sent.
             */
            window.addEventListener('load', function() {
                document.body.addEventListener("htmx:configRequest", function (event) {
                    let pathWithParameters = event.detail.path.replace(/:([A-Za-z0-9_]+)/g, function (_match, parameterName) {
                        let parameterValue = event.detail.parameters[parameterName]
                        delete event.detail.parameters[parameterName]

                        return parameterValue
                    })

                    event.detail.path = pathWithParameters
                })
            })

            /**
             * Animates a timer graphic. Only one such timer may exist at a time, but
             * that's fine for this game.
             */
            function startTimer() {
                const timer = document.getElementById('timer')
                const timeLeftMessage = document.getElementById('time-left')
                const timerCircle = timer.querySelector('svg > circle + circle')

                timerCircle.style.strokeDashoffset = 1

                const time = parseInt(timer.getAttribute("data-time"))
                let timeLeft = time

                console.log("starting timer with ", time, "seconds")

                let countdownTimer = setInterval(function() {
                    if (timeLeft <= 0) {
                        clearInterval(countdownTimer)
                        return
                    }

                    timeLeft -= 1;

                    console.log("time left: ", timeLeft, "seconds")

                    const normalizedTime = (time - timeLeft) / time

                    console.log("normalised time left: ", normalizedTime, "seconds")

                    timerCircle.style.strokeDashoffset = normalizedTime
                    timeLeftMessage.innerHTML = timeLeft
                }, 1000)
            }
        </script>
        <style>
            body {
                color: #333;
                background-color: whitesmoke;

                font-family: cursive;
            }

            input, button {
                font-family: cursive;
                font-size: 1.2em;

                color: #333;
                background-color: #ffc4df;
                border-color: #ff78b6;
            }

            input:hover, button:hover {
                background-color: #ff78b6;
            }

            header {
                margin-left: 1rem;
                font-size: 3rem;
                font-weight: bold;
            }

            #contents {
                margin-top: 1em;
            }

            #create-room {
                display: inline-block;
                margin: 0 0.75em;
            }

            #join-room {
                display: inline-block;
                margin-left: 1em;
            }

            #spymaster-suggestion {
                display: grid;
                place-items: center;
            }

            #clue-block {
                margin-top: 0.5rem;
                margin-left: 1.5rem;

                padding: 0.8rem 1.2rem;

                background-color: antiquewhite;
                border-radius: 5px;
            }

            .clue, .clue-matches {
                font-family: cursive;
                font-size: 1.2em;

                padding: 0.4rem;

                background-color: palevioletred;
                border-radius: 3px;
            }

            #end-guessing {
                display: inline-block;
                margin-left: 1rem;
            }

            #player-list {
                display: inline-block;
                margin-left: 1.5rem;

                padding: 0.8rem 1.2rem;

                background-color: antiquewhite;
                border-radius: 5px;
            }
            #player-list>strong {
                font-size: 1.1em;
            }
            #player-list>ul {
                margin-top: 0.8em;
            }

            .name-tag.spectator {
                color: #45ffaa;
            }
            .name-tag.spymaster {
                color: #9791ff;
            }
            .name-tag.spy {
                color: #78b5ff;
            }
            .name-tag.counterspy {
                color: #ff78b6;
            }

            #player-name-changer {
                margin-right: 2.5rem;
                float: right;

                padding: 0.8rem;

                background-color: antiquewhite;
                border-radius: 5px;
            }

            #game-control {
                margin: 0 auto;

                height: fit-content;
                width: fit-content;

                background-color: antiquewhite;
                border-radius: 5px;
            }

            #start-game, #configure-game {
                display: block;

                padding: 0.8rem;
            }
            #start-game {
                width: fit-content;
                margin: 0 auto;
            }
            #configure-game > strong {
                font-size: 1.1em;
            }
            #configure-game > form > div {
                height: fit-content;
                contain: layout;
            }
            #configure-game > form > div > input {
                font-size: 1.0em;
                float: right;
            }

            #grid {
                padding: 10px;
                width: max-content;
                height: max-content;
            }

            .card-row:not(:last-child) {
                margin-bottom: 5px;
            }

            .card {
                display: inline-block;
                position: relative;

                height: 4em;
                aspect-ratio: 16 / 9;
                width: auto;

                font-size: 1.75rem;

                line-height: 3.6em;
                text-align: center;

                border-radius: 6px;
                background-color: #ffe4c4;

                border-style: solid;
                border-width: 2px;
                box-sizing: border-box;
                border-color: #ffe4c4;
            }
            .card.selected {
                border-color: #ffcd91;
            }

            .card:not(:last-child) {
                margin-right: 5px;
            }

            .card-unvote, .card-vote {
                padding: 4px;
                aspect-ratio: 1;

                font-size: 0.5em;
                line-height: 0.5em;

                position: absolute;
                top: -2px;
                right: -2px;

                z-index: 999;
            }
            .card-vote.disabled {
                background-color: grey;
                border-color: darkgrey;
            }
            .card-vote.disabled:hover {
                background-color: grey;
                border-color: darkgrey;
            }

            .card-spy-target {
                background-color: #c4ffe4;
                border-color: #c4ffe4;
            }
            .card.card-spy-target.selected {
                border-color: #91ffcd;
            }
            .card-counterspy-target {
                background-color: #ffc4df;
                border-color: #ffc4df;
            }
            .card.card-counterspy-target.selected {
                border-color: #ff91c3;
            }
            .card-civilian {
                background-color: #c4dfff;
                border-color: #c4dfff;
            }
            .card.card-civilian.selected {
                border-color: #91c3ff;
            }

            #timer {
                margin-top: 10px;
            }
            
            #timer > svg {
                width: 100px;
                height: 100px;
            }

            #timer > svg > circle {
                fill: none;
                stroke-opacity: 0.3;
                stroke: #0d6efd;
                stroke-width: 10;
                transform-origin: center center;
                transform: rotate(-90deg);
            }

            #timer > svg > circle + circle {
                stroke-dasharray: 1;
                stroke-dashoffset: 1;
                stroke-linecap: round;
                stroke-opacity: 1;
                transition: stroke-dashoffset 0.3s ease;
            }

            #timer > svg > text {
                font-size: 2rem;
            }

            #timer > svg > text + text {
                font-size: 1rem;
            }
        </style>
    </head>
	<body>
        <header>Susnames</header>

        <div id="contents">
            for _, component := range components {
                @component
            }
        </div>
    </body>
}
