package components

templ PlayerNameTag(session_id string, name string) {
	<li id={ "name-tag-" + session_id } class="name-tag">{ name }</li>
}

templ PlayerList(tags []templ.Component) {
	<div id="player-list">
		<strong>Players:</strong>
		<ul>
			for _, tag := range tags {
				@tag
			}
		</ul>
	</div>
}
