package components

templ PlayerNameTag(session_id string, name string) {
	<div id={ "name-tag-" + session_id } class="name-tag">{ name }</div>
}

templ PlayerList(tags []templ.Component) {
	<div id="player-list">
		for _, tag := range tags {
			@tag
		}
	</div>
}
