package components

templ PlayerNameTag(name string, role string) {
	<li class={ "name-tag " + role }>{ name }</li>
}

templ PlayerList(tags []templ.Component) {
	<div id="player-list">
		<strong>Players:</strong>
		<ul>
			for _, tag := range tags {
				@tag
			}
		</ul>
	</div>
}
